/* ./src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



.carousel-card {
    height: 600px;
    width: 33.33333%;
    transition: all 0.3s ease-in-out;
}

.carousel-card:hover {
    width: 50%;
}